<div class="row">
  <div class="col-md-12">
    <form formGroup="signUpForm" (ngSubmit)='onSubmit()'>
      <div formGroupName="userData">
        <div class="form-group">
          <label>User Name</label>
          <input type="text" class="form-control" formControlName="username">
        </div>

        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" formControlName="email">
        </div>
      </div>

      <div formArrayName="hobbies">
        <label><b><i>Hobbies:</i></b></label>
        <button type="button" (click)="onAddHobby()"><i>Add hobby</i></button>
        <div class="form-group" *ngFor="let hobby of hobbyControls; let i = index">
          <input type="text" class="form-control mt-2" formControlName="i" />
        </div>
      </div>
      <div>
        <button type="submit">Add</button>
      </div>
    </form>
  </div>
</div>